In [1]:
# conda install -c anaconda lxml

import requests
import pandas as pd
import numpy as np

In [2]:
# To retrieve the common first male and female names from website
url_m = "https://namecensus.com/male_names_alpha.htm"
page1 = requests.get(url_m)
top_male_first_name = pd.read_html(page1.text)

url_f = "https://namecensus.com/female_names_alpha.htm"
page2 = requests.get(url_f)
top_female_first_name = pd.read_html(page2.text)

combine = pd.concat([top_male_first_name[0], top_female_first_name[0]], ignore_index=True)
tbl_common_name = pd.DataFrame(combine["Name"].str.capitalize())

In [15]:
# Can be omited or combined with Aidan's code
train_df = pd.read_csv("../data/processed/character_features_train.csv")
test_df = pd.read_csv("../data/processed/character_features_test.csv")

In [16]:
# Add is_common feature to check whether the first name is common or not
is_common = train_df.first_name.isin(tbl_common_name[["Name"]].Name)
train_df = train_df.assign(is_common=is_common)

is_common = test_df.first_name.isin(tbl_common_name[["Name"]].Name)
test_df = test_df.assign(is_common=is_common)

In [34]:
def get_name_length(name):
    """
    Returns the length of first name.

    Parameters:
    ------
    name: (str)
    the input name

    Returns:
    -------
    length of name: (float)

    """
    return len(name)
    assert len('Mike'), 4
    assert len('Aaron'), 5

def has_last_name(name):
    """
    Returns whether the character has a last name.
    
    Parameters:
    ------
    name: (str)
    the input name
    
    Returns:
    ------
    True/False of whether the last name exists (boolean)
    
    """
    return name == name
    
def norm(appearances, year, MAX_YR=2013):
    """
    Returns number of appearances per year.
    
    Parameters:
    ------
    appearances: (float)
    the number of appearances of the character
    
    year: (float)
    the year of its first appearance
    
    Keyword arguments:
    ------
    MAX_YR: (float)
    year boundary for the source data
    
    Returns:
    ------
    appearances_per_yr: (float)
    the number of appearances per year for each character
    
    Examples:
    ------
    norm(10, 2004) = 1
    """
    if year == year and appearances == appearances:
        appearances_per_yr = appearances/(MAX_YR - year + 1)
        return appearances_per_yr
    else:
        return 
    
train_df = train_df.assign(name_len=train_df["first_name"].apply(get_name_length))
train_df = train_df.assign(has_last_name=train_df["last_name"].apply(has_last_name))
train_df["appear_per_yr"] = train_df.apply(lambda x: norm(x['appearances'], x['year']), axis=1)

test_df = test_df.assign(name_len=test_df["first_name"].apply(get_name_length))
test_df = test_df.assign(has_last_name=test_df["last_name"].apply(has_last_name))
test_df["appear_per_yr"] = test_df.apply(lambda x: norm(x['appearances'], x['year']), axis=1)

In [43]:
train_df.head(10)

,Unnamed: 0,Unnamed: 0.1,name,id,align,eye,hair,sex,gsm,appearances,first_appearance,year,publisher,first_name,last_name,is_common,name_len,has_last_name,appear_per_yr
0,6202,6202,Smythe (Contraxia) (Earth-616),Secret Identity,Bad,NaN,Black,Male,NaN,4.0,1984-01-01,1984.0,marvel,Smythe,NaN,False,6,False,0.133333
1,5045,5045,Mike Zelinsky (Earth-616),Public Identity,Good,NaN,NaN,Male,NaN,6.0,2011-04-01,2011.0,marvel,Mike,Zelinsky,True,4,True,2.000000
2,6895,6895,Lyle Doorne (Earth-616),Secret Identity,Bad,Red,No,Male,NaN,4.0,2012-11-01,2012.0,marvel,Lyle,Doorne,True,4,True,2.000000
3,5721,5721,DaVanti (Earth-616),Secret Identity,Bad,Grey,Blond,Male,NaN,5.0,2008-10-01,2008.0,marvel,DaVanti,NaN,False,7,False,0.833333
4,10760,10760,Wilhelm von Sin (Earth-616),Secret Identity,Bad,NaN,Black,Male,NaN,1.0,1941-12-01,1941.0,marvel,Wilhelm,von Sin,False,7,True,0.013699
5,8937,8937,Cerberus (Shogun Warriors) (Earth-616),Secret Identity,Bad,NaN,No,NaN,NaN,2.0,1979-08-01,1979.0,marvel,Cerberus,NaN,False,8,False,0.057143
6,21230,21230,Alera (New Earth),Public Identity,Good,Green,White,Female,NaN,2.0,2010-10-01,2010.0,dc,Alera,NaN,False,5,False,0.500000
7,8598,8598,Sindri (Earth-616),NaN,Good,NaN,NaN,Male,NaN,2.0,1964-04-01,1964.0,marvel,Sindri,NaN,False,6,False,0.040000
8,451,451,Eric Williams (Earth-616),Public Identity,Bad,Blue,Grey,Male,NaN,92.0,1968-05-01,1968.0,marvel,Eric,Williams,True,4,True,2.000000
9,21547,21547,Sinthia (New Earth),Public Identity,Bad,NaN,Brown,Female,NaN,2.0,1996-06-01,1996.0,dc,Sinthia,NaN,False,7,False,0.111111